<div class="modal-header">
  <h5 class="modal-title" id="signupModalLabel">Sign Up</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <%= form_with scope: :user, url: users_path, local: true do |f| %>
    <div class="form-group">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true, class:"form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, autofocus: true, class:"form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class:"form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autofocus: true, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :image_url %><br />
      <%= f.text_field :image_url, autofocus: true, class:"form-control"%>
    </div>
    <div class="form-group">
      <%= f.submit "Submit", class:"btn btn-primary form-control" %>
    </div>
  <% end %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>